body{
    background-color: #000;
}
#input[type='button']:hover {
    background-color: #fff;
}
#input[type='button']:active {
    background-color: rgb(177, 131, 131);
}
.span{
    background-color: yellowgreen;
    font-size: medium;
    margin: auto;
    cursor: default;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: #666 solid 2px;

}
table{
    width: 100%;
}
.number{
    background-color: blue;
    color: aqua;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid red;
    cursor: default;
}
.operator{
    background-color: rgb(19, 153, 59);
    color: rgb(140, 26, 155);
    width: 10px;
    height: fit-content;
    padding: 10px;
    border: 1px solid rgb(136, 163, 38);
    cursor: pointer;
}
.container{
    align-self: center;
    margin: 100px auto;
    display: block;
    width: 40%;
    border-radius: 10px;
    background-color: blueviolet;
    padding: 10px;
    border: solid blue 1px;
    box-shadow: 3x 8px 15px purple;

}
.clear{
    padding: 3px;
    width: 100%;
    height: 40px;
    cursor: pointer;
    margin: auto;
    margin-bottom: 8px;

}
.equals{
    padding: 5px;
    height: 40px;
    width: 100%;
    cursor: pointer;
}